<div class="box">
    <div *ngIf="!initialOffer">
        <div class="box-header">
            <h1>Check your offer!</h1>
            <p>
                You can check how much you can get by entering only PESEL number and e&nbsp;-&nbsp;mail address.
            </p>
        </div>
        <form
            [formGroup]="getInitialOfferForm"
            (ngSubmit)="getInitialOffer()"
        >
            <div class="field">
                <label class="label">PESEL</label>
                <p class="control has-icons-left">
                    <input
                        class="input"
                        type="text"
                        formControlName="pesel"
                    >
                    <span class="icon is-small is-left">
                        <i class="fas fa-address-card"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">E-mail</label>
                <p class="control has-icons-left">
                    <input
                        class="input"
                        type="email"
                        formControlName="email"
                    >
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="offer-button-container">
                <button
                    type="submit"
                    class="button is-info offer-button"
                    [ngClass]="{'is-loading': isGettingOffer}"
                    [disabled]="!getInitialOfferForm.valid"
                >
                    Get offer!
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="initialOffer && !applicationSent">
        <div class="box-header">
            <h1>Congratulations!</h1>
            <p>
                You can get up to
                <b>
                    {{ initialOffer.maxAmount | currency:'EUR' }}
                </b>
                !
            </p>
            <p>Select your amount and apply.</p>
        </div>
        <form (ngSubmit)="sendLoanApplication()">
            <div class="slider-container">
                <input
                    class="slider"
                    step="100"
                    min="{{ initialOffer.minAmount }}"
                    max="{{ initialOffer.maxAmount }}"
                    type="range"
                    [(ngModel)]="loanAmount"
                    name="loanAmount"
                >
            </div>
            <p class="centered">
                Your amount:
                <b>{{ loanAmount | currency:'EUR' }}</b>
            </p>
            <div class="offer-button-container">
                <button
                    type="submit"
                    class="button is-info offer-button"
                    [ngClass]="{'is-loading': isSendingLoanApplication}"
                    [disabled]="!initialOffer"
                >
                    Apply for a loan!
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="applicationSent">
        <div class="centered">
            <p>Thank you for your application.</p>
            <p>We will contact you shortly.</p>
        </div>
    </div>
</div>
